body{
	margin : 0px;
	padding: 0px;
	line-height: 1.6em;
	font-size: 13px;
	height: 100%;
	font-family: inherit;
	color:#1d2129;
}

.header {
	width: 1349px;
	height: 42px;
	background: #4267b2;
}
.icon {
	float: left;
}
.search {
	float: left;
	margin-top: 3px;
}
.btnSearch {
	width: 46px;
	height: 26px;
	float: left;
}
#btnSearch {
	background: #f5f6f7;
    border: none;
    border-radius: 0 2px 2px 0;
    margin-top: 8px;
    height: 26px;
    width: 46px;
    cursor: pointer;
    float: left;
}
#iconf {
	color: white;
	font-size: 28px;
	margin-left: 150px;
	margin-top: 7px;
	margin-right: 5px;
}

#search {
	margin-top: 5px;
	width: 393px;
	height: 14px;
	padding-top: 7px;
}
#imgicon {
	float: left;
	width: 50px;
}
#iconlon {
    height: 30px;
    margin-left: 50px;
    margin-top: 7px;
    float: left;
}
.ten {
	font-size: 1.1em;
    font-weight: bold;
    float: left;
    /* margin: auto; */
    margin-top: 12px;
    margin-left: 9px;
    color: white;
    /* font-family: inherit; */
}
.thongbao {
	float: left;
    font-size: 20px;
    margin-left: 95px;
    margin-top: 13px;
}


.post {
    width: 500px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 2px;
    border: 1px solid #E1E0E0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.c-header {
    width: 100%;
    height: auto;
    padding-top: 5px;
}
.c-h-inner {
    width: 95%;
    height: 25px;
    margin: 0px 15px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 12px;
    font-weight: bold;
}
.c-h-inner ul {
    list-style: none;
    margin-top: 2px;
}
.c-h-inner ul li {
    display: inline;
    border-right: 1px solid #E9E3E3;
    padding-right: 10px;
}
.c-h-inner ul li img {
    margin: -2px 3px;
}
.c-h-inner ul li a {
    color: rgb(59, 89, 152);
    text-decoration: none;
}
.c-body {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E5E5E5;
    overflow: auto;
}
.body-left {
    width: 62px;
    height: auto;
    float: left;
    margin-left: 15px;
}
.img-box {
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    border: 1px solid #F5F1F1;
}
.img-box img {
    width: 100%;
    height: 100%;
}
.text-type {
    width: 400px;
    height: auto;
    resize: none;
    margin: 23px 0px;
    font-size: 14px;
    color: #959698;
    border: none;
    overflow: hidden;
}
#body-bottom {
    border-top: 1px solid #8fc400;
    margin: 10px;
    display: none;
}
#body-bottom img {
    margin: 10px;
    height: 95px;
    width: 95px;
}
.c-footer {
    height: 40px;
}
.right-box ul {
    list-style: none;
}
.right-box ul li {
    display: inline;
}
.right-box {
    float: right;
}
.btn1 {
    width: 88px;
    border: 1px solid #ccc;
    background: white none repeat scroll 0% 0%;
    font-weight: bolder;
    color: rgb(87, 87, 87);
    border-radius: 2px;
    margin-bottom: 2px;
    height: 25px;
    font-size: 12px;
}
.btn2 {
    background: rgb(71, 100, 159) none repeat scroll 0% 0%;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    margin: 0px 7px;
    margin-bottom: 2px;
    width: 65px;
    height: 25px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.container{
	width: 1349px;
	height: 1000px;
	background: #eaebef;
}
.leftmenu {
	width: 205px;
	min-height: 100px;
	position: fixed;
	margin-right: 10px;
	font-family: inherit;
	float:left;
}
.leftmenu ul {
  
  width: 205px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.leftmenu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
}
.leftmenu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: inherit;
  display: block;
}
.leftmenu li:hover {
  background: #CDE2CD;
}
.middle {
	width: 500px;
	min-height: 1000px;
	margin-right: 10px;
	margin-left: 217px;
	
	position: relative;
	flex:1;
	float:left;
}
.baiviet {
	width: 500px;
	background-color: white;
	margin-bottom: 10px;
}
.tin {
	width: 300px;
	height: 100px;
	background: white;
	float:left;
	margin-top: 10px;
	margin-left: 12px;

}
.rightmenu {
	width: 205px;
	height: 100px;
	margin-top: 10px;
	background: aqua;
	float: right;

}